[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
coverage = "*"
docutils = "*"
flake8 = "*"
pytest-cov = "*"

[packages]
precis-i18n = "*"
idna = "*"

[requires]
python_version = "3.6"
